body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
h1,
h2 {
  font-size: 2rem;
}
h2 span,
h1 span {
  font-size: 2rem;
}
.f {
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-family: "Arial";
  font-size: 0.7rem;
  color: #070707;
  text-align: center;
}
a {
  font-size: 0.8rem;
  color: #4062bb;
}
._splitWrap {
  visibility: hidden;
  margin: auto;
}
._centerText {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 85%;

  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
}

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;

  overflow: hidden;
  position: relative;
}
.styled-select,
.styled-select select {
  /* width: 240px; */
  width: 90%;
  max-width: 350px;
  text-align: center;
}
select:focus {
  outline: none;
}
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix() {
  .styled-select select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector .styled-select {
  background: none;
}

/* CSS */
.btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: black;
}

.btn:after {
  content: "";
  background-color: rgb(211 183 149 / 64%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

.el {
  opacity: 0;
}
@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}

#text-wrapper--third a {
  margin: 0 0 20px;
}

#proceed {
  margin: 20px 0;
}
