body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  /* font-family: "Gothic A1", sans-serif; */
  font-family: "Source Serif 4", sans-serif;
}
h1,
h2 {
  font-size: 2rem;
}
h2 span,
h1 span {
  font-size: 2rem;
}
.f {
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-family: "Arial";
  font-size: 0.7rem;
  color: #070707;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #4062bb;
}
._splitWrap {
  visibility: hidden;
  margin: auto;
}
._centerText {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 85%;

  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
}

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;

  overflow: hidden;
  position: relative;
}
.styled-select,
.styled-select select {
  /* width: 240px; */
  width: 90%;
  max-width: 350px;
  text-align: center;
}
select:focus {
  outline: none;
}
.styled-select select {
  font-size: 18px;
  height: 50px;
  color: black;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix() {
  .styled-select select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector .styled-select {
  background: none;
}

/* CSS */
.btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: black;
}

.btn:after {
  content: "";
  background-color: rgb(211 183 149 / 64%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

.el {
  opacity: 0;
}
@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}

#text-wrapper--third a {
  margin: 0 0 20px;
}

#proceed {
  margin: 20px 0;
}

.avatar {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  z-index: 9;
}

.avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px dashed black;
  margin-right: 5px;
}

#switch-user {
  margin-left: 15px;
  padding: 5px;
  font-size: 13px;
}

#switch-user svg {
  height: 15px;
}

/* #popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #dcbe99;
  z-index: 99;
  opacity: 0;
}

#popup > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

h3 {
  margin: 0 0 15px;
}
p {
  margin: 0 0 25px;
}
.back-to-third {
  color: #7d8377;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin: 0 0 25px;
}

#gift-list {
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* list-style: decimal-leading-zero; */
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  /* padding-left: 30px; */
}

#gift-list li {
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#gift-list li a {
  padding-left: 25px;
}

.hasUser span {
  text-decoration: line-through;
  opacity: 0.5;
}
.hasUser a {
  display: none;
}

#text-wrapper--wishlist p {
  font-size: 13px;
}

#text-wrapper--second h2 {
  margin: 0 0 30px;
}
#filler div:nth-child(5) {
  /* background-color: yellow; */
}

#equalizer {
  position: relative;
  width: 25px;
  display: none;
  /* margin-left: auto; */
}
#play-sound {
  margin-left: auto;
}
#sound-on {
  width: 25px;
  display: block;
}
#play-sound.active #equalizer {
  display: block;
}
#play-sound.active #sound-on {
  display: none;
}
#bar1 {
  animation: bar1 1.2s infinite linear;
}

#bar2 {
  animation: bar2 0.8s infinite linear;
}

#bar3 {
  animation: bar3 1s infinite linear;
}

#bar4 {
  animation: bar4 0.7s infinite linear;
}

@keyframes bar1 {
  0% {
    height: 2px;
  }
  50% {
    height: 7px;
  }
  100% {
    height: 2px;
  }
}

@keyframes bar2 {
  0% {
    height: 5px;
  }
  40% {
    height: 1px;
  }
  80% {
    height: 7px;
  }
  100% {
    height: 5px;
  }
}

@keyframes bar3 {
  0% {
    height: 7px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 7px;
  }
}

@keyframes bar4 {
  0% {
    height: 2px;
  }
  50% {
    height: 7px;
  }
  100% {
    height: 2px;
  }
}

#gift-item {
  position: absolute;
  top: 70px;
  left: 15px;
  width: calc(100% - 30px);
  font-size: 11px;
}
