@import 'variables';
@import 'fonts';
@import 'animation';
* {
  cursor: none !important;
}
body {
  color: $color-black;
  font-family: 'TSTAR-Regular';
  overflow: hidden;
  font-size: 1em;
}
.page-main {
  height: 100vh;
  // padding: 20px;
  overflow: hidden;
  .renderer {
    height: 100%;
  }
  .row {
    width: 100%;
    margin: auto;
  }
  > div {
    height: 100%;
  }
  h1 {
    text-transform: uppercase;
    color: $color-black;
    font-size: 6em;
    font-weight: 200;
    // opacity: 0;
    @include screen1260 {
      font-size: 4em;
    }
    &.active {
      opacity: 1;
    }
    span {
      display: inline-block;
      transition: transform 1s cubic-bezier(0.65, 0.02, 0.23, 1);
      transform: translate(20%, 100%);
      position: relative;
      z-index: 1;
      line-height: 1;
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-40%);
        transition: transform 1s cubic-bezier(0.65, 0.02, 0.23, 1);
      }

      &.row-item {
        overflow: hidden;
        line-height: 0.9;
        display: block;
        transform: none;

        &:before {
          display: none;
        }
      }
    }

    .animate {
      transform: translate(0, 0);

      &:before {
        transform: translateY(100%);
      }
    }
  }
  p {
    font-size: 1.5em;
    margin-bottom: 25px;
    line-height: 1.2;
    color: $color-black;
    @include screen1260 {
      font-size: 1.2em;
    }
  }
  ul {
    color: $color-white;
    margin: 0;
    padding-left: 25px;
    font-size: 1.5em;
    list-style: disc;
    @include screen1260 {
      font-size: 1.2em;
    }
    li {
      padding: 0;
      @include screen1260 {
        padding: 3px 0;
      }
    }
  }
  .logo {
    position: absolute;
    bottom: 20px;
    left: 50px;
    img {
      width: 250px;
      @include screen1260 {
        width: 60%;
      }
    }
  }

  .cd-vertical-nav {
    list-style-type: none !important;
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
      display: block;
      height: 40px;
      width: 40px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      opacity: 0.5;
      background: url(images/icons/navigate.svg) no-repeat center center;
      background-color: rgba(140, 140, 140, 0.5);
      transition: 300ms all ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &.cd-prev {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-bottom: 10px;
      }
      &.inactive {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
        -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
        transition: opacity 0.2s 0s, visibility 0s 0.2s;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 100;
  img {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
  }
}

.nav {
  position: fixed;
  right: 40px;
  width: auto;
  top: 40px;
  text-align: center;
  z-index: 10;
  @include screen1260 {
    top: 20px;
    right: 10px;
  }
  .row > div {
    position: relative;
    padding: 3px 15px;
    margin: 0 10px 0 17px;
    @include screen1024 {
      margin: 0 0 0 8px;
    }
    &.active {
      background: $color-white;
      a {
        color: $color-black;
      }
    }
    &:not(:last-child) {
      // border-right: 2px solid white;
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: white;
        top: 0;
        right: -15px;
        @include screen1024 {
          right: -5px;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      height: 2px;
      background: $color-white;
      transition: all 0.2s linear;
      width: 0;
      bottom: 0px;
    }
    &:hover:before,
    &.active:before {
      width: 100%;
      margin-left: -50%;
    }
  }
  a {
    color: white;
    font-weight: bold;
    font-weight: 500;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    @include screen1260 {
      font-size: 1.1em;
    }
  }
  &.dark {
    .row > div {
      &:not(:last-child) {
        &:after {
          background: $color-black;
        }
      }
      &:before {
        background: $color-black;
      }
      &.active {
        background: $color-black;
        a {
          color: $color-white;
        }
      }
    }
    a {
      color: $color-black;
    }
  }
}
.image-full {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // animation: animateBg 25s infinite alternate;
}
.transition-enter {
  // z-index: 2;
}

.transition-exit {
  // z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mouse-pointer {
  position: absolute;
  background-color: #48484859;
  width: 25px;
  height: 25px;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  border-radius: 100%;
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 5px;
    top: 5px;
    background: #fdfdfd;
    border-radius: 50%;
  }
}

.skylight-close-button {
  display: none!important;
}
.hidden {
  display: none!important;
}