.app-form {
  .app-form-item {
    margin-bottom: 0;
    padding-bottom: 15px;
    .app-form-item-datepicker,
    .app-form-item-input {
      width: 100%;
      height: 40px;
    }
    .ant-input-number-input,
    .ant-calendar-picker-input {
      height: 40px;
    }
  }
  .ant-form-explain {
    text-align: left;
  }
}
