.app-header {
  background-color: $black-primary;
  height: $header-height;
  .app-header-content {
    color: $white;
    max-width: $header-max-width;
    margin: auto;
    text-align: left;
  }
  .app-header-title-container {
    display: inline-block;
    padding: 10px 0;
  }
  .app-header-logo {
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 14px 10px 0 19px;
  }
  .app-header-title {
    display: block;
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    padding: 0 11px;
  }
  .app-header-sub-title {
    display: block;
    line-height: 20px;
    font-size: 15px;
    padding: 0 13px;
    text-transform: uppercase;
  }
}
