// Colors
$primary: #fe3f00;

$black: #000000;
$black50: rgba(0, 0, 0, 0.5);
$black-primary: #383838;

$dark-primary: #634633;
$dark-secondary: #553c35;

$white: #ffffff;
$white-primary: #f9f9f9;
$white-secondary: #f3f3f3;

$gray: #d9d9d9;
$gray-primary: #d3d3d3;

// Variables
$page-max-width: 1200px;
// Header
$header-height: 80px;
$header-max-width: $page-max-width;
$header-title-font-size: 20px;

// App Body
$app-max-width: $page-max-width;
// Loader
$loader-logo-width: 70px;

// Buttons
$button-height: 40px;
$button-width: 150px;
